# set proxy config via profie.d - should apply for all users
# wget ...
export http_proxy={{ squid_proxy_host }}:{{ squid_proxy_port }}/
export https_proxy={{ squid_proxy_host }}:{{ squid_proxy_port }}/
export ftp_proxy={{ squid_proxy_host }}:{{ squid_proxy_port }}/
# curl ...
export HTTP_PROXY={{ squid_proxy_host }}:{{ squid_proxy_port }}/
export HTTPS_PROXY={{ squid_proxy_host }}:{{ squid_proxy_port }}/
export FTP_PROXY={{ squid_proxy_host }}:{{ squid_proxy_port }}/